.ui-user-info {
    border: 2px solid rgb(27, 153, 206);
}

.ui-nav-toolbar {
    height: 56px;
}

.ui-nav-toolbar .ui-nav-toolbar-caption {
    text-align: center;
    vertical-align: baseline;
}

.ui-nav-toolbar-button {
    width: 80px;
}

.ui-tabs {
    overflow: hidden;
}

.ui-tabs > .ui-tabs-button {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    float: left;
}

.ui-message {
    color: #AD9C5E;
    border: 1px solid #AD9C5E;
    margin: 10px 10px 25px;
    padding: 10px;
    border-radius: 6px;
    background-color: #FFFBEC;
}

.ui-header-big {
    font-size: 1.7em;
    text-align: center;
    margin: 0 10px 20px;
}

.ui-nav-button {
    border: 1px solid #1B99CE;
    border-radius: 6px;
    margin: 0 10px 25px;
    padding: 8px;
    color: #1B99CE;
    overflow: hidden;
    background-color: #D6EDFB;
    vertical-align: baseline;
}

.ui-nav-button-caption,
.ui-nav-button-value {
    float: left;
    width: 45%;
}

.ui-nav-button-icon {
    font-weight: bold;
    float: right;
}

.ui-label {
    font-size: 0.85em;
    margin: 0 10px 5px;
}

.ui-toggle-button {
    /* @extends .ui-nav-button */
    border: 1px solid #1B99CE;
    border-radius: 6px;
    margin: 0 10px 25px;
    padding: 8px;
    color: #1B99CE;
    background-color: #D6EDFB;
    vertical-align: baseline;
}

.ui-group-first-child {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ui-group-middle-child {
    border-top: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.ui-group-last-child {
    margin-top: 0;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.ui-text-input {
    border: 3px solid #1B99CE;
    border-radius: 8px;
    background-color: #D6EDFB;
    margin: 0 10px 25px;
    padding: 8px;
}

.ui-toggle-button-value {
    width: 76px;
}

.ui-block {
    display: block;
}

.ui-text-input > * {
    width: 100%;
    color: #1B99CE;
    font-weight: bold;
    font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
}

.ui-button {
    border: 3px solid #1B99CE;
    border-radius: 8px;
    background-color: #D6EDFB;
    margin: 0 10px 25px;
}