.ui-user-info {
    border: 2px solid rgb(27, 153, 206);
}

.ui-nav-toolbar {
    height: 56px;
}

.ui-nav-toolbar .ui-nav-toolbar-caption {
    text-align: center;
    vertical-align: baseline;
}

.ui-nav-toolbar-button {
    width: 80px;
}

.ui-tabs {
    width: 100%;
    /*height: 56px;*/
}