/**
 * @author Marenin Alexander 
 * March 2013
 */

.ui-app {
    background-color: @rc-color-bg;
}

.ui-app > * {
    .ui-shadow( -5px, 0px, 60px, 15px, rgba(0, 0, 0, 0.33) );
}

.ui-app-pages {
    background-color: @rc-color-bg;
    min-width: @rc-width-screen;
}
