/**
 * @author Marenin Alexander 
 * May 2013
 */

.ui-dialer {
    .ui-message:first-child {
        margin: @rc-margin-big @rc-margin;
    }
    .ui-label {
        margin-top: @rc-margin-big;
    }
}

.ui-dialer-error {
    margin: @rc-margin-bigger @rc-margin;
    color: @rc-color-red;
    background-color: @rc-color-bg-error;
    padding: @rc-padding;
    border: @rc-border-width solid @rc-color-red;
    border-radius: @rc-border-radius;
}

.ui-dialer-registered-caller {
    position: relative;
    font-size: @rc-font-size-medium;
    margin: @rc-margin-big @rc-margin;
    padding: @rc-padding;
    border: @rc-border-width solid @rc-color-main;
    border-radius: @rc-border-radius;
    background: @rc-color-bg-light;
}

.ui-dialer-registered-caller-name {
    font-weight: bold;
    color: @rc-color-main;
}

.ui-dialer-registered-caller-phone {
    font-weight: bold;
}

.ui-dialer-registered-caller-button {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -17px;
}

.ui-dialer-call {
    width: 70px;
    margin-top: 2 * @rc-border-width-bold - @rc-border-width;
    margin-left: 0;
}

.ui-dialer-popup {
    color: #F3F3F3;
    padding: @rc-padding;
    width: 260px;
    border: none;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.4) !important;

    .ui-dialer-popup-caption {
        font-size: @rc-font-size-bigger;
    }

    .ui-dialer-popup-name {}

    .ui-dialer-popup-scrim {}

    .ui-dialer-popup-number {
    }

    .ui-dialer-popup-timer {
        font-weight: bold;
        margin: @rc-margin-big;
    }

    .ui-dialer-popup-answer,
    .ui-dialer-popup-refuse {
        margin: @rc-margin;
        display: inline-block;
        width: 110px;
        height: 45px;
        border: none;
    }

    .ui-dialer-popup-answer {
        background: @rc-color-green url(@rc-images-accept-call) center center no-repeat;
        background-size: auto 53%;
    }

    .ui-dialer-popup-refuse {
        background: @rc-color-red url(@rc-images-end-call) center center no-repeat;
        background-size: 30% auto;
    }
}

