/**
 * @author Marenin Alexander 
 * May 2013
 */

.ui-login {
    position: relative;
}

.ui-login-block {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
}

.ui-login-submit {
}

.ui-login-picker {
    min-width: 200px;
    & > :first-child {
        .ui-button;
        min-width: 184px;
        background: @rc-color-bg-light;
        box-shadow: none;
        box-sizing: border-box;
    }
}