/**
 * @author Marenin Alexander 
 * May 2013
 */

.ui-login {
    position: relative;
}

.ui-login-block {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
}

.ui-login-submit {
//    margin-top: @rc-margin-big;
}


.ui-login-picker {
    min-width: 200px;
    margin-bottom: @rc-margin-bigger;
    & > :first-child {
        .ui-button;
        min-width: 184px;
        margin: 0 @rc-margin;
        background: @rc-color-bg-light;
        box-shadow: none;
        box-sizing: border-box;
    }
}