/**
 * @author Marenin Alexander 
 * April 2013
 */

.ui-phone-group-settings {
    .ui-label:first-child {
        margin-top: @rc-margin-big;
    }
    .ui-text-input {
        font-size: @rc-font-size-medium;
    }
}

.ui-phone-group-settings-list {
    margin: @rc-margin-big @rc-margin;
}

.ui-phone-group-settings-item {
    margin: @rc-margin 0;
}

.ui-phone-group-settings-item-name {
    color: @rc-color-main;
    font-size: @rc-font-size-big;
}

.ui-phone-group-settings-item-number {
    font-size: @rc-font-size-big;
    margin-bottom: @rc-margin;
}

.ui-phone-group-settings-item-line {
    overflow: hidden;
    & > :first-child,
    & > :last-child {
        float: left;
        margin-right: @rc-margin-big;
    }
}