/**
 * @author Marenin Alexander
 * February 2013
 */

/* Container Rules */

.ui-call-flow {}
.ui-call-flow-decorator {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px 2px 10px 10px;
    padding: 0 @rc-padding-default 0 20px;
}
.ui-call-flow-header {
    position: relative;
    padding: 0 0 0 10px;
    border-left: 3px solid @rc-color-input;
    padding-bottom: 25px;
    margin: 30px 0 0 0;
    background: transparent url(@rc-images-caller) 10px top no-repeat;
    background-size: auto 43px;
    height: 50px;
}
.ui-call-flow-header-decorator {
    position: absolute;
    top: 0px;
    left: -3px;
    width: 25px;
    height: 30px;
    border-bottom: 3px solid @rc-color-input;
    background-color: white;
}

.ui-call-flow-items {}


/* Item Rules */

.ui-call-flow-item {
    position: relative;
    padding: 0 0 0 @rc-padding-big;
    border-left: 3px solid @rc-color-input;
    padding-bottom: 25px;
    margin: 0;

    &.last {
        border-left: none;
        margin-left: 3px;
    }
    &.inactive {
        border-left-color: @rc-color-green;

        .ui-call-flow-item-edit-button {
            background-image: url( @rc-images-edit-off );
        }
        .ui-call-flow-item-caption > *,
        .ui-call-flow-item-description {
            color: @rc-color-green;
        }
    }
}

.ui-call-flow-item-edit-button {
    position: absolute;
    top: -8px;
    left: -25px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: url(@rc-images-edit) top left no-repeat;
    background-size: 100%;
}

.ui-call-flow-item-header {
    padding-left: 13px;
}

.ui-call-flow-item-caption {
    font-size: @rc-font-size-bigger;
    font-weight: bold;
    margin: 0 10px 0 0;
//    overflow: hidden;
    & > * {
        display: inline-block;
    }
    & :first-child {
        vertical-align: top;
    }
    & :last-child {
        margin-left: 8px;
        color: @rc-color-input;
    }
}

.ui-call-flow-item-description {
    font-size: @rc-font-size-small;
    color: @rc-color-inactive;
    margin: 0 10px 0 0;
    padding-top: 3px;
}

.ui-call-flow-rule-buttons {
    overflow: hidden;
    & > .ui-button {
        float: right;
        font-size: @rc-font-size-medium;
        padding: 6px 5px;
        margin: 5px 6px @rc-margin-default 2px;
    }
}

.ui-call-flow-block-callers {
    background: transparent url(@rc-images-block-callers) top center no-repeat;
    background-size: auto 100%;
    width: 45px;
    height: 45px;
    margin: -10px 0 0 0;
    padding: 0;
    .inactive & {
        background-image: url(@rc-images-block-callers-off);
    }
}

.ui-call-flow-greet-the-caller {
    background: transparent url(@rc-images-greet-the-caller) top left no-repeat;
    background-size: 100%;
    width: 250px;
    height: 60px;
    margin-top: @rc-margin-default * 2;
    padding: 0;
    .inactive & {
        background-image: url(@rc-images-greet-the-caller-off);
    }
}

.ui-call-flow-screen-the-caller {
    background: transparent url(@rc-images-screening) top left no-repeat;
    background-size: 100%;
    width: 250px;
    height: 110px;
    margin-top: @rc-margin-default * 2;
    padding: 0;
    .inactive & {
        background-image: url(@rc-images-screening-off);
    }
}

.ui-call-flow-connecting {
    background: transparent url(@rc-images-connecting) top left no-repeat;
    background-size: 100%;
    width: 250px;
    height: 55px;
    margin-top: @rc-margin-default * 2;
    padding: 0;
    .inactive & {
        background-image: url(@rc-images-connecting-off);
    }
}

.ui-call-flow-playing {
    background: transparent url(@rc-images-playing) top left no-repeat;
    background-size: 100%;
    width: 250px;
    height: 55px;
    margin-top: @rc-margin-default * 2;
    padding: 0;
    .inactive & {
        background-image: url(@rc-images-playing-off);
    }
}

.ui-call-flow-voicemail {
    background: transparent url(@rc-images-voicemail) top left no-repeat;
    background-size: 100%;
    width: 250px;
    height: 60px;
    margin-top: @rc-margin-default * 2;
    padding: 0;
    .inactive & {
        background-image: url(@rc-images-voicemail-off);
    }
}