/**
 * @author Marenin Alexander
 * February 2013
 */

/* Container Rules */

.ui-call-flow {}
.ui-call-flow-decorator {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 0 10px 0 25px;
}
.ui-call-flow-header {
    position: relative;
    padding: 0 0 0 10px;
    border-left: 3px solid @rc-color-input;
    padding-bottom: 15px;
    margin: 30px 0 0 0;

    & > img {
        width: 180px;
    }
}
.ui-call-flow-header-decorator {
    position: absolute;
    top: 0px;
    left: -3px;
    width: 25px;
    height: 45px;
    border-bottom: 3px solid @rc-color-input;
    background-color: white;
}

.ui-call-flow-items {}


/* Item Rules */

.ui-call-flow-item {
    position: relative;
    padding: 0 0 0 14px;
    border-left: 3px solid @rc-color-input;
    padding-bottom: 20px;
    margin: 0;

    &.last {
        border-left: none;
        margin-left: 3px;
    }
    &.inactive {
        border-left-color: @rc-color-inactive;

        .ui-call-flow-item-edit-button {
            background-image: url( @rc-images-edit-off );
        }
        .ui-call-flow-item-caption {
            color: @rc-color-inactive;
        }
    }
}

.ui-call-flow-item-img-full {
    width: 250px;
}

.ui-call-flow-item-edit-button {
    position: absolute;
    top: -8px;
    left: -25px;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: url(@rc-images-edit) top left no-repeat;
    background-size: 100%;
}

.ui-call-flow-item-header {
    padding-left: 13px;
}

.ui-call-flow-item-caption {
    font-size: @rc-font-size-bigger;
    font-weight: bold;
    margin: 0 10px 0 0;
}

.ui-call-flow-item-description {
    font-size: @rc-font-size-small;
    color: @rc-color-inactive;
    margin: 0 10px 0 0;
    padding-top: 3px;
}

.ui-call-flow-rule-buttons {
    overflow: hidden;
    & > .ui-button {
        float: right;
        margin: 5px 8px 10px 5px;
    }
}

.ui-call-flow-greet-the-caller {
    background: transparent url(@rc-images-greet-the-caller) top left no-repeat;
    background-size: 100%;
    width: 200px;
    height: 50px;
    padding: 10px 50px 100px 15px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    color: @rc-color-active;
    .inactive & {
        background-image: url(@rc-images-greet-the-caller-off);
    }
}

