/**
 * @author Marenin Alexander 
 * March 2013
 */

.ui-greet-caller-top {
    margin: @rc-margin * 2 @rc-margin;
    padding-right: 60px;
    background: transparent url(@rc-images-greet-the-caller-robot) right center no-repeat;
    background-size: auto 50px;
}


.ui-greet-caller-header {
    font-size: @rc-font-size-biggest;
    margin-bottom: @rc-margin;
}

.ui-greet-caller-tabs {
    line-height: @rc-font-size-big;
    height: @rc-font-size-big * 3 + @rc-padding * 2;
}

.ui-greet-caller-under-construction {
    background: transparent url(@rc-images-under-construction) center top no-repeat;
    background-size: 80% 90px;
    height: 90px;
}