/**
 * @author Marenin Alexander
 * February 2013
 */

.ui-radio-list {
    margin: 15px @rc-margin-default @rc-margin-default @rc-margin-default;
    padding: 0;
}
.ui-radio-list-item {
    width: 100%;
    border: @rc-border-width solid @rc-color-input;
    border-radius: @rc-border-radius;
    background-color: @rc-color-bg;
    color: @rc-color-input;
    font-size: @rc-font-size-medium;
    line-height: @rc-font-size-medium;
    font-weight: bold;
    position: relative;
    height: @rc-padding-input * 2 + @rc-font-size-medium;

    &.active {
        background-color: @rc-color-input;
        color: @rc-color-active;
        &.show-ruler .ui-radio-list-item-ruler {
            display: block;
        }
    }

    & :first-child {
        float: left;
        margin: @rc-padding-default 0 @rc-padding-default @rc-padding-default;
    }

    & :last-child {
        float: right;
        margin: @rc-padding-default 9px @rc-padding-default @rc-padding-default;
        text-align: right;
    }

    .compact > & {
        border-radius: @rc-border-radius-small;
        &.active .ui-radio-list-item-ruler {
            display: block;
        }
    }

    .inactive & {
        color: @rc-color-inactive;
        border-color: @rc-color-inactive;
    }
}

.ui-radio-list-item-ruler {
    width: @rc-border-width-bold + @rc-margin-default + @rc-padding-big;
    height: 6px;
    border-top: @rc-border-width-bold solid @rc-color-input;
    border-bottom: @rc-border-width-bold solid @rc-color-input;
    background-color: white;
    position: absolute;
    top: 8px;
    left: -( @rc-border-width + @rc-border-width-bold + @rc-margin-default + @rc-padding-big );
    display: none;
}