/**
 * @author Marenin Alexander
 * February 2013
 */

@import 'NavButton';
@import 'NavToolbar';
@import 'VerticalGroup';
@import 'ToggleButton';
@import 'EditableList';
@import 'CallFlow';
@import 'UserInfo';
@import 'RadioList';
@import 'Notifications';


.ui-placeholder (
    @color: @rc-placeholder-color,
    @font-size: @rc-font-size-medium,
    @font-family: @rc-font-family
){
    &::-webkit-input-placeholder { /*WebKit*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
    &:-moz-placeholder { /*Firefox 4-18*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
    &::-moz-placeholder { /*Firefox 19+*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
    &:-ms-input-placeholder { /*IE 10+*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
}

.ui-tabs {
    overflow: hidden;
}

.ui-tabs > .ui-tabs-button {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    float: left;
    background-color: @rc-input-bg;
    background-image: none;
    outline: 1px solid @rc-border-color;
    border-color: @rc-border-color;
    border-width: 0 0 1px 0;
    box-shadow: none;
    font-size: @rc-font-size-medium;
    color: @rc-input-color;
}

.ui-tabs > .ui-tabs-button.active {
    text-shadow: none;
    background-color: @rc-input-color;
    color: @rc-active-color;
}

.ui-message {
    color: @rc-message-color;
    border: 1px solid @rc-message-color;
    margin: 10px 10px 25px;
    padding: @rc-input-padding;
    border-radius: @rc-border-radius;
    background-color: @rc-message-bg;
}

.ui-header-big {
    font-size: @rc-font-size-biggest;
    text-align: center;
    margin: 0 10px 20px;
}

.ui-label {
    font-size: @rc-font-size-small;
    margin: 0 10px 5px;
}

.ui-block {
    display: block;
}

.ui-text-input {
    border: 3px solid @rc-input-color;
    border-radius: @rc-border-radius;
    background-color: @rc-input-bg;
    margin: @rc-input-margin;
    padding: @rc-input-padding;
}

.ui-text-input > input,
.ui-text-input > textarea {
    width: 100%;
    color: @rc-input-color;
    font-weight: bold;
    font-family: @rc-font-family;
    .ui-placeholder;
}

.ui-button {
    .ui-text-input;
    background-image: none;
    padding: @rc-button-padding;
}


.ui-icon-next {
    font-weight: bold;
    float: right;
}