/**
 * @author Marenin Alexander
 * February 2013
 */

@import 'NavButton';
@import 'NavToolbar';
@import 'VerticalGroup';
@import 'ToggleButton';
@import 'EditableList';
@import 'CallFlow';
@import 'UserInfo';
@import 'RadioList';
@import 'Notifications';
@import 'Tabs';
@import 'PhoneContainer';
@import 'AddRule';
@import 'UnderConstruction';


body {
    font-family: @rc-font-family;
}

.ui-placeholder (
    @color: @rc-color-placeholder,
    @font-size: @rc-font-size-medium,
    @font-family: @rc-font-family
){
    &::-webkit-input-placeholder { /*WebKit*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
    &:-moz-placeholder { /*Firefox 4-18*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
    &::-moz-placeholder { /*Firefox 19+*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
    &:-ms-input-placeholder { /*IE 10+*/
        color: @color;
        font-size: @font-size;
        font-family: @font-family;
    }
}

.ui-message {
    color: @rc-color-message;
    border: 1px solid @rc-color-message;
    margin: @rc-margin-input;
    padding: @rc-padding-input;
    border-radius: @rc-border-radius;
    background-color: @rc-color-message-bg;
}

.ui-header-big {
    font-size: @rc-font-size-biggest;
    text-align: center;
    margin: 0 10px 20px;
}

.ui-label {
    font-size: @rc-font-size-small;
    margin: 0 10px 5px;
}

.ui-block {
    display: block;
}

.ui-text-input {
    border: 3px solid @rc-color-input;
    border-radius: @rc-border-radius;
    background-color: @rc-color-input-bg;
    margin: @rc-margin-input;
    padding: @rc-padding-input;
}

.ui-text-input > input,
.ui-text-input > textarea {
    width: 100%;
    color: @rc-color-input;
    font-weight: bold;
    font-family: @rc-font-family;
    .ui-placeholder;
}

.ui-button {
    border: 1px solid @rc-color-input;
    border-radius: @rc-border-radius-small;
    background-color: @rc-color-bg;
    background-image: none;
    margin: @rc-margin-input;
    color: @rc-color-input;
    font-weight: bold;
    padding: @rc-padding-button;
}

.ui-icon-next {
    font-weight: bold;
    float: right;
}

.ui-page {
    background-color: white;
}

.ui-restricted-area {
    width: 100%;
    height: @rc-width-default-screen - 50px;
    margin: 0 auto;
    background: transparent url(@rc-images-restricted-area) top center no-repeat;
    background-size: 100%;
}

.ui-margin {
    margin: @rc-margin-default;
}
