/**
 * @author Marenin Alexander
 * February 2013
 */

/* FONTS */
@font-face {
    font-family: Calibri;
    src: url( '../../assets/fonts/Calibri.ttf' ) format( 'truetype' );
}

@rc-font-family: Calibri, Arial, sans-serif;
@rc-font-size-small: 15px;
@rc-font-size-medium: 17px;
@rc-font-size-big: 20px;
@rc-font-size-bigger: 23px;
@rc-font-size-biggest: 26px;


/* COLORS */
@rc-border-color: #1787B5;
@rc-input-bg: #D6EDFB;
@rc-input-color: #1B99CE;
@rc-bg-color: #F3F9FF;
@rc-message-color: #AD9C5E;
@rc-message-bg: #FFFBEC;
@rc-placeholder-color: #A8D3E5;
@rc-active-color: #FFFFFF;
@rc-inactive-color: #AAAAAA;
@rc-text-color: #111111;


/* MARGINS & PADDINGS */
@rc-input-margin: 0 10px 25px;
@rc-input-padding: 8px;
@rc-button-padding: 8px 12px;


/* BORDERS */
@rc-border-radius-small: 4px;
@rc-border-radius: 8px;


/* IMAGES */
@rc-images-path: '../../assets/images/';
@rc-images-edit: '@{rc-images-path}edit_normal.svg';
@rc-images-edit-off: '@{rc-images-path}edit_off.svg';