/**
 * @author Marenin Alexander
 * February 2013
 */

/* FONTS */
@rc-font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
@rc-font-size-small: 14px;
@rc-font-size-medium: 16px;
@rc-font-size-large: 20px;
@rc-font-size-larger: 22px;
@rc-font-size-biggest: 25px;


/* COLORS */
@rc-border-color: #1787B5;
@rc-input-bg: #D6EDFB;
@rc-input-color: #1B99CE;
@rc-bg-color: #F3F9FF;
@rc-message-color: #AD9C5E;
@rc-message-bg: #FFFBEC;
@rc-placeholder-color: #A8D3E5;
@rc-active-color: #FFFFFF;
@rc-inactive-color: #AAAAAA;
@rc-text-color: #111111;


/* MARGINS & PADDINGS */
@rc-input-margin: 0 10px 25px;
@rc-input-padding: 8px;
@rc-button-padding: 8px 12px;


/* BORDERS */
@rc-border-radius-small: 4px;
@rc-border-radius: 8px;
