/**
 * @author Marenin Alexander
 * February 2013
 */

/* FONTS */
@font-face {
    font-family: Calibri;
    src: url( '../../assets/fonts/Calibri.ttf' ) format( 'truetype' );
}

@rc-font-family: Calibri, Arial, sans-serif;
@rc-font-size-small: 15px;
@rc-font-size-medium: 17px;
@rc-font-size-big: 20px;
@rc-font-size-bigger: 23px;
@rc-font-size-biggest: 26px;


/* COLORS */
@rc-color-border: #1787B5;
@rc-color-input-bg: #D6EDFB;
@rc-color-input: #1B99CE;
@rc-color-bg: #F3F9FF;
@rc-color-message: #AD9C5E;
@rc-color-message-bg: #FFFBEC;
@rc-color-placeholder: #A8D3E5;
@rc-color-active: #FFFFFF;
@rc-color-inactive: #AAAAAA;
@rc-color-text: #111111;
@rc-color-hint: #F29119;


/* MARGINS & PADDINGS */
@rc-margin-input: 0 10px 25px;
@rc-padding-input: 8px;
@rc-padding-button: 8px 12px;


/* BORDERS */
@rc-border-radius-small: 4px;
@rc-border-radius: 8px;


/* IMAGES */
@rc-images-path: '../../assets/images/';
@rc-images-edit: '@{rc-images-path}edit_normal.svg';
@rc-images-edit-off: '@{rc-images-path}edit_off.svg';
@rc-images-greet-the-caller: '@{rc-images-path}cartoon_greet-the-caller_on.svg';
@rc-images-greet-the-caller-off: '@{rc-images-path}cartoon_greet-the-caller_off.svg';
@rc-images-screening: '@{rc-images-path}cartoon_screening_on.svg';
@rc-images-screening-off: '@{rc-images-path}cartoon_screening_off.svg';