/* 
    You can modify the Onyx theme by adding variable and rule overrides to this
    file.  To enable theming, follow these steps:

    1. In debug.html, uncomment the line referencing 'less-<version number>.min.js'.
    2. In package.js, change '$lib/onyx' to '$lib/onyx/source'.
    3. Also in package.js, add 'Theme.less' (this file).
    4. Add variable and rule overrides below.

    See [https://github.com/enyojs/enyo/wiki/UI-Theming] for more information.
*/
/* VARIABLES */
/* Fonts */
/* ---------------------------------------*/
/* Text Colors */
/* ---------------------------------------*/
/* Background Colors */
/* ---------------------------------------*/
/* Border Radius */
/* ---------------------------------------*/
/* Padding */
/* ---------------------------------------*/
/* Icon Sizes */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Gradient Overlays */
/* ---------------------------------------*/
/* Images */
/* ---------------------------------------*/
/* ONYX */
/**
 * @author Marenin Alexander
 * February 2013
 */
/* FONTS */
/* COLORS */
/* MARGINS & PADDINGS */
/* BORDERS */
/* RULES */
/**
 * @author Marenin Alexander
 * February 2013
 */
/**
 * @author Marenin Alexander
 * February 2013
 */
.ui-nav-button {
  border: 1px solid #1b99ce;
  border-radius: 8px;
  margin: 0 10px 25px;
  padding: 8px;
  color: #1b99ce;
  overflow: hidden;
  background-color: #d6edfb;
  vertical-align: baseline;
}
.ui-nav-button-caption,
.ui-nav-button-value {
  float: left;
  width: 45%;
}
/**
 * @author Marenin Alexander
 * February 2013
 */
.ui-nav-toolbar {
  height: 56px;
  background-color: #1b99ce;
  background-image: none;
  border: 1px solid #1787b5;
  box-shadow: none;
  font-size: 20px;
}
.ui-nav-toolbar .ui-nav-toolbar-caption {
  text-align: center;
  vertical-align: baseline;
}
.ui-nav-toolbar > .ui-nav-toolbar-button {
  width: 70px;
  background-image: none;
  border-radius: 4px;
  outline: none;
  background-color: #1b99ce;
  border: 2px solid #ffffff;
  vertical-align: baseline;
  line-height: 20px;
  padding: 5px 20px 7px 15px;
}
/**
 * @author Marenin Alexander
 * February 2013
 */
.ui-vertical-group .ui-group-first-child {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-vertical-group .ui-group-middle-child {
  border-top: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.ui-vertical-group .ui-group-last-child {
  margin-top: 0;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/**
 * @author Marenin Alexander
 * February 2013
 */
.ui-toggle-button {
  border: 1px solid #1b99ce;
  border-radius: 8px;
  margin: 0 10px 25px;
  padding: 8px;
  color: #1b99ce;
  overflow: hidden;
  background-color: #d6edfb;
  vertical-align: baseline;
}
.ui-toggle-button-value {
  width: 76px;
}
/**
 * @author Marenin Alexander
 * February 2013
 */
.ui-editable-list .ui-button {
  border-width: 1px;
  margin: 0 10px 0 0;
  height: 43px;
  color: #1b99ce;
}
.ui-editable-list .ui-vertical-group {
  margin-top: 10px;
}
/**
 * @author Marenin Alexander
 * February 2013
 */
/* Container Rules */
.ui-call-flow-decorator {
  position: relative;
  top: 0;
  left: 0;
  margin: 10px 10px 25px;
  padding: 0 10px 0 25px;
}
.ui-call-flow-header {
  position: relative;
  padding: 0 0 0 10px;
  border-left: 3px solid #1b99ce;
  padding-bottom: 40px;
  margin: 30px 0 0 0;
}
/* Item Rules */
.ui-call-flow-item {
  position: relative;
  padding: 0 0 0 14px;
  border-left: 3px solid #1b99ce;
  padding-bottom: 40px;
  margin: 0;
}
.ui-call-flow-item:last-child {
  border-left: none;
  margin-left: 3px;
}
.ui-call-flow-item-edit-button {
  position: absolute;
  top: -6px;
  left: -23px;
  width: 30px;
  height: 30px;
  border: 6px solid #1b99ce;
  border-radius: 100%;
  background-color: #f4faff;
}
.ui-call-flow-item-header {
  padding-left: 13px;
}
.ui-call-flow-item-caption {
  font-size: 25px;
  margin: 0 10px 0 0;
}
.ui-call-flow-item-description {
  display: block;
  font-size: 14px;
  color: #aaaaaa;
  margin: 3px 10px 0 0;
}
/**
 * @author Marenin Alexander
 * February 2013
 */
/* User Info styles */
.ui-user-info {
  margin: 20px 10px 20px 10px;
  height: 79px;
  border-radius: 8px;
  border: 1px solid #1b99ce;
  background-color: #d6edfb;
  padding: 8px;
  color: #1b99ce;
}
.ui-user-info img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.ui-user-info-icon {
  width: 14px;
  line-height: 100%;
  vertical-align: center;
  font-weight: bold;
  text-align: right;
}
.ui-user-info-image-wrapper {
  padding-right: 14px;
}
.ui-user-info-name,
.ui-user-info-extension {
  font-weight: bold;
  display: inline-block;
  margin-right: 7px;
}
.ui-user-info-name::after {
  content: ', ';
}
.ui-user-info-extension,
.ui-user-info-company {
  color: #111111;
}
/* Panel styles */
/**
 * @author Marenin Alexander
 * February 2013
 */
.ui-radio-list {
  margin: 10px;
  padding: 0;
}
.ui-radio-list-item {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #1b99ce;
  background-color: #f4faff;
}
.ui-tabs {
  overflow: hidden;
}
.ui-tabs > .ui-tabs-button {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  float: left;
  background-color: #d6edfb;
  background-image: none;
  outline: 1px solid #1787b5;
  border-color: #1787b5;
  border-width: 0 0 1px 0;
  box-shadow: none;
  font-size: 16px;
  color: #1b99ce;
}
.ui-tabs > .ui-tabs-button.active {
  text-shadow: none;
  background-color: #1b99ce;
  color: #ffffff;
}
.ui-message {
  color: #ad9c5e;
  border: 1px solid #ad9c5e;
  margin: 10px 10px 25px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fffbec;
}
.ui-header-big {
  font-size: 25px;
  text-align: center;
  margin: 0 10px 20px;
}
.ui-label {
  font-size: 14px;
  margin: 0 10px 5px;
}
.ui-block {
  display: block;
}
.ui-text-input {
  border: 3px solid #1b99ce;
  border-radius: 8px;
  background-color: #d6edfb;
  margin: 0 10px 25px;
  padding: 8px;
}
.ui-text-input > input,
.ui-text-input > textarea {
  width: 100%;
  color: #1b99ce;
  font-weight: bold;
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
}
.ui-text-input > input::-webkit-input-placeholder,
.ui-text-input > textarea::-webkit-input-placeholder {
  /*WebKit*/

  color: #a8d3e5;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
}
.ui-text-input > input:-moz-placeholder,
.ui-text-input > textarea:-moz-placeholder {
  /*Firefox 4-18*/

  color: #a8d3e5;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
}
.ui-text-input > input::-moz-placeholder,
.ui-text-input > textarea::-moz-placeholder {
  /*Firefox 19+*/

  color: #a8d3e5;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
}
.ui-text-input > input:-ms-input-placeholder,
.ui-text-input > textarea:-ms-input-placeholder {
  /*IE 10+*/

  color: #a8d3e5;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
}
.ui-button {
  border: 3px solid #1b99ce;
  border-radius: 8px;
  background-color: #d6edfb;
  margin: 0 10px 25px;
  padding: 8px;
  background-image: none;
  padding: 8px 12px;
}
.ui-icon-next {
  font-weight: bold;
  float: right;
}
